  
  html {
    box-sizing: border-box;
    overflow-x: hidden;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  .header-text {
    flex: 1;
  }

  .title {
    color: rgb(0, 0, 0);
  }

  .about-section {
    display: flex;
    padding: 2%;
    text-align: center;
    background: linear-gradient(50deg, #00eaff, #FAEBD7);
    color: black;
  }

  .text-container {
    flex: 1;
    font-size: large;
    margin-left: 5%;
    margin-right: 5%;
  }

    .text-container p {
      margin-top: 2rem;
    }

  .row-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 80%;
  }

    .AUText{
      display: flex;
      justify-content: center;
    }

    .row-container .AUText {
      margin-top: 10%;
    }

  .column {
    width: 25%;
    padding: 0 0.5rem;
  }
  
    .card {
      box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.5);
      margin: 2%;
      padding: 2%;
      height: 100%;
    }
  
  .Team{
      margin: 0.5%;
      display: block;
  }
  
    .team-container {
      flex-wrap: wrap;
      padding: 0 0.75rem;
      font-size: smaller;
    }

    .team-container p:nth-child(3) {
      line-height: 2.5ex;
      height: 7.5ex;
    }
    
    .team-container h3{
      font-size: small;
    }

  .image-container {
    display: flex;
    flex: 1;
    justify-content: center;
  }

    .image-container img {
      width: 18em;
      height: 18em;
    }

  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 2.5%;
    color: white;
    background-color: #000000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
    .button:hover {
      background-color: #00fef6;
      color:#000000;
    }

  @media screen and (max-width: 650px) {
    .row-container .AUText {
      flex-direction: column;
    }

    .column {
      width: 100%;
      display: block;
    }

    .card {
      max-width: fit-content;
    }
 
  }