.content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.join {
    display: flex;
    flex-direction: row;
    width: 100%;

}

.create-btn {
    width: 100%;
}

#searchBar {
    position: absolute;
    width:10rem;
    right: 0;
    top: 0;
    margin: 4px;
    margin-right: 33px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

}

#search-btn {
    position: absolute;
    right: 0;
    top: 0;
    margin:5px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

}

.result-box{
    background-color: white;
    position: absolute;
    text-align: left;
    width:10rem;
    right: 0;
    top: 30px;
    margin: 4px;
    margin-right: 33px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    max-height: 300px;
    overflow-y: scroll;
}

.result-box ul {
    border-top: 1px solid #999;
    padding-left: 5px;

  }

  .result-box ul li {
    border-bottom: 1px solid rgb(153,153,153,0.2);
    margin:2px;
    list-style-type: none;
    border-radius: 3px;
    cursor: pointer;
  }

  .result-box ul li:hover{
    background-color: rgb(192, 219, 225);
  }


#chatHeader{
    text-align: center;
}


.message-box {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    background-color: whitesmoke;
    height: 80vh;
    display:flex;
    flex-direction: column;
    width: 80vw;
    align-items: stretch;
}

.messages {
    overflow-y: scroll;
    flex: 1;
    width: 100%;
    padding:10px;
}

.inputs {
    padding: 10px;
    display: flex;
}


h2 {
    text-align: center;
    color: whitesmoke;
}

#message {
    flex: 1;
    margin:15px;
}

.text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

#title {
    background-color: rgb(125, 125, 125);
    border-top-left-radius: 8px; /* Without this is goes over the corners */
    border-top-right-radius: 8px; 
    position: relative;
}