body{
    background-color:#f5f5f5;
}

h2{
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    color: red;
}



.star {
    color: grey;
    margin-right: 8px;
    font-size: 30px;
}

.star.active {
    color: yellow;
}


.profile-picture {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

table {
    border-collapse: collapse;
    border: none;
    width: 100%;
}
table td, table th {
    padding: 8px;
    text-align: left;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
tr {
    height: 60px;
}
.message-icon::before {
    content: "\1f4e9";
    font-size: 20px;
}
.button-cell {
    display: flex;
    align-items: center;
}

.star, .private_message {
        background-color: transparent;
        border: none;
        padding: 0;
    }