.favourites {
    
    height: 80%;
    overflow-y: auto;
}


.favourites h1 {
    margin: 0;
}

#favouriteTable {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate; 
    border-spacing: 0 10px;
}

#favouriteTable th,
#favouriteTable td {
  width: 33.33%;
  text-align: center;
  padding: 10px;
  border: none;
  word-break: break-all;
  height: 50px;
}

#favouriteTable tbody tr:nth-child(even) {
  background-color: red;
}

#favouriteTable tbody tr:nth-child(odd) {
  background-color: grey;
}

#favouriteTable td:first-child,
#favouriteTable th:first-child {
  border-radius: 10px 0 0 10px;
}

#favouriteTable td:last-child,
#favouriteTable th:last-child {
  border-radius: 0 10px 10px 0;
}

.ProfilePicture {
    border-radius: 50%;
}

.message-icon {
    background-color: transparent;
    border: none;
    font-size: 24px;
    
}

.star {
    background-color: transparent;
    color: gold;
    border: none;
    font-size: 24px;
    
}

.Empty_fav_list {
    margin-top: 20px;
    text-align: center;
}

.Empty_fav_list b {
    font-size: 16px;
}


