.container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

.profile-card {
  flex: 0 0 100%;
  height: 20%;
  background-color: #f5f5f5;
}

.content-feed {
  flex: 1;
  background-color: #dcdcdc;
}

.leaderboard {
  flex: 0 0 100%;
  background-color: #ebebeb;
  margin-top: -38%;
  height: 50%;
}

.friends-list {
  flex: 0 0 100%;
  background-color: #c9c9c9;
}

@media (min-width: 768px) {
  .profile-card {
    flex: 0 0 25%;
  }

  .content-feed {
    flex: 0 0 50%;
  }

  .leaderboard {
    flex: 0 0 25%;
  }

  .friends-list {
    flex: 0 0 25%;
  }
}
