h2 {
    text-align: center;
    color:aliceblue;
    margin: 20px;
}


.headers {
    background-color:coral;
}


#contentDiv{
    border:1px solid black;
}

#profileTopLeft {
    height: 430px;
    text-align: center;
    margin: 5px auto;
    margin-top: 0;
    padding: 10px;
    position: relative;
}

.container-1{
    background: url("../images/def.jpg");
    height: 150px;
}

.container-2{
    background: url("../images/def.jpg");
    height: 150px;
}
.pfp-container{
    width: 80px;
    height: 80px;
    transform: translate(100px,100px);
}
.pfp-container img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    
}
.u-info{
    height: 250px;
    background: white;
    padding: 20px;
    padding-top: 40px;
    text-align: center;

}

.u-info h4{
    color: black;
    opacity: .6;
    font-weight: bold;
}

.u-info .btn{
    padding: 12px 20px;
    background: #5070e1;
    border: none;
    color: white;
    border-radius: 10px;
    font-size: 12px;
}
.u-info .btn:hover{
    padding: 12px 20px;
    background: #728adf;
    border: none;
    color: white;
    border-radius: 10px;
    font-size: 12px;
}
#leftDiv {
    margin:0;
}

#scoreboard-iframe {
    height:500px;
    width:100%;
}

#chatButtons {
    text-align: center;
}


#gameButtons {
    text-align: center;
}

.chatLink:hover, .gameLink:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.gameLink, .chatLink {
    width:10rem;
    height:7rem;
    margin:10px;
    padding:0;
    border-radius:10%;

}

hr {
    background-color: coral;
    height: 2px;

}

#formTitle {
    text-align: center;
}

#createGameDiv{
    text-align:center;
    margin:25px;
}


#join-and-create, .buttons, #codeInput {
    display: flex;
    align-items: center;
    justify-content: center;
}

#codeInput {
    padding:10px;
}

#join-btn, #create-btn {
    border-radius: 10%;
    margin: 2px;
}