h2 {
    text-align: center;
    color:aliceblue;
    margin: 20px;
}

#errorFeedback{
    text-align: center;
}

#errorMsg{
    color:red; 
    font-weight: bold;
    font-style: italic;
}

.headers {
    background-color:coral;
}


#contentDiv{
    border:1px solid black;
}

#profileTopLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 0 auto;
}

#profileTopLeft img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.welcome {
  font-size: 12px;
  color: #777;
  margin: 0px;
  margin-bottom: -10px;
}

.user-name {
  font-size: 24px;
  margin: 5px 0;
}

.user-score {
  font-size: 16px;
  margin: 0;
  margin-top: -10px;
}

.change-picture-button {
  margin-top: -10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #8052FF;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border: none;
}



#leaderboard {
    border: 1px solid black;
    height: 80%;
}

#leftDiv {
    margin:0;
}

#scoreboard-iframe {
    height:500px;
    width:100%;
}

#chatButtons {
    text-align: center;
    display: flex;
    flex-direction: row;
}

#gameButtons {
    text-align: center;
    display: flex;
    flex-direction: row;
}

.chatLink:hover, .gameLink:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.gameLink, .chatLink {
    width:10rem;
    height:7rem;
    margin:10px;
    padding:0;
    border-radius:10%;
}

hr {
    background-color: coral;
    height: 2px;

}

#formTitle {
    text-align: center;
}

#createGameDiv{
    text-align:center;
    margin:25px;
}


#join-and-create, .buttons, #codeInput {
    display: flex;
    align-items: center;
    justify-content: center;
}

#codeInput {
    padding:10px;
}

#join-btn, #create-btn {
    border-radius: 10%;
    margin: 2px;
}


#favouriteTable, #notFavouriteTable {
    border: 1px solid black;
}

#favouriteTable th, #favouriteTable td,
#notFavouriteTable th, #notFavouriteTable td {
    border: 1px solid black;
}