body {
    font-family: Helvetica;
    background: linear-gradient(106deg, rgba(0,151,178,1) 0%, rgba(250,250,250,1) 100%);
    color: #000;
    
  }

.intro-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    width: 100vw;
  }

  .text-container{
    flex: 1;
    padding: 5%;
    max-width: 50%;
    margin-left: 4%;
  }

    h1 {
      margin-bottom: 2%;
      font: 500% Helvetica;
      color: #000;
    }

    .text-container p{
      font-weight: bold;
      font-size: 1em;
      margin-bottom: 20px;
    }
    
    .button1 {
        border-radius: 40px;
        background-color: #000;
        padding: 15px 32px;
        border: none;
        color: white;	
  }

    .image-container img {
      width: 100%;
      height: auto;
      position: relative;
      opacity: 0;
      animation: fadein 4s forwards;
    }

  @keyframes fadein {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: rotateX(0);
    }
  }

  @media (max-width: 650px) {
    .intro-container {
      flex: 1;
      flex-direction: column;
      height: calc(100vh - 2.5rem)
    }

    .text-container{
      max-width: 100%;
      margin-left: 0;
    }
    .text-container h1 {
      font-size: 4em;
    }

    .image-container {
      margin-top: 5%;
    }

  }
 

  


  