.login-section {
    display: flex;
    padding: 2%;
    text-align: center;
    background: linear-gradient(50deg, #00eaff, #FAEBD7);
    color: black;
  }

  .header-text {
    flex: 1;
  }

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #000000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #00eeff;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 2%;
  }

  .row-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 60%;
  }

  .row-container .row {
    margin-top: 3%;
    display: flex;
    text-align: center;
  }

  .text-container {
    flex: 1;
    font-size: small;
  }