.Privacy {
  height: 100vh;
}

.privacy-section {
    display: flex;
    padding: 5%;
    text-align: center;
    background: linear-gradient(50deg, #00eaff, #FAEBD7);
    color: black;
  }

  .header-text {
    flex: 1;
  }

  .h2, h2 {
    margin-bottom: 3%;  
  }

.row-container {
    margin: auto;
    margin-top: 5%;
    margin-bottom: 14%;
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  .row-container .row {
    margin-top: 10%;
    margin: auto;
  }

  .text-container {
    flex: 1;
    font-size: large;
    text-align: left;
    margin: auto;
  }


  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
 
  }