body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body > div{
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.privacy-section {
    display: flex;
    padding: 3%;
    text-align: center;
    background: linear-gradient(50deg, #00eaff, #FAEBD7);
    color: black;
  }

  .header-text {
    flex: 1;
  }

  .h2, h2 {
    margin-bottom: 3%;  
  }

.row-container {
    margin: auto;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 70%;
  }

  .row-container .row {
    margin-top: 10%;
    margin: auto;
  }

  .text-container {
    font-size: large;
    text-align: left;
    margin: auto;
    margin-left: 10%;
    margin-right: 10%;
  }


  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
 
  }