.dropdown-toggle{
    background: #00EEFF;
}



.dark-mode .dropdown-toggle{
    background:  rgba(0, 151, 178, 1);

}


.dark-mode #send-btn {
    background:  rgba(0, 151, 178, 1);
    
}

.dark-mode #type-and-send{
    position: relative;
    border-top: 2px solid rgb(58, 57, 57);
    width: 100%;
    justify-content: left;
    background:rgb(78, 78, 78);
}


.dark-mode {
    background-color: #333;

}
  
.dark-mode .message {
    background: #333;
    color: #333;;
}

.dark-mode #title {
    background:  rgba(0, 151, 178, 1);
    border-top-left-radius: 7px; /* Without this is goes over the corners */
    position: relative;
}


/* For Webkit based browsers (Chrome, Safari) */
.dark-mode ::-webkit-scrollbar {
    width: 6px; 
  }
  
  .dark-mode ::-webkit-scrollbar-track {
    background: none; 
  }
  
  .dark-mode ::-webkit-scrollbar-thumb {
    background: #464545; /* Change the thumb color */
  }
  
  /* For Firefox */
  .dark-mode ::-moz-scrollbar {
    width: 6px; 
  }
  
  .dark-mode ::-moz-scrollbar-track {
    background: none; /* Remove the background */
  }
  
  .dark-mode ::-moz-scrollbar-thumb {
    background: #333; 
  }
  