body{
    /*background-color: lightblue; */
}


h1{
    color:blue;
    text-align: center;
}

p{
    color: red;
}

.top-scores {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center
  }
  .score {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .score:first-child {
    margin-right: 20px;
  }

  .score:nth-child(2) {
    margin-top: -20px;
  }

  .score:last-child {
    margin-left: 20px;
  }
  .name {
    font-weight: bold;
    margin-top: 5px;
    word-break: break-all;
  }
 

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate; 
    border-spacing: 0 10px;
  }
  
  th, td {
    width: 33.33%;
    text-align: center;
    padding: 10px;
    border: none;
    word-break: break-all;
    height: 50px;
    
  }

  tbody tr:nth-child(even) {
    background-color: red;
  }
  
  tbody tr:nth-child(odd) {
    background-color: blue;
  }

  td:first-child,
  th:first-child {
    border-radius: 10px 0 0 10px;
  }
  td:last-child,
  th:last-child {
    border-radius: 0 10px 10px 0;
  }

  td img {
    height: 100%;
    width: 100%;
  }