<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="..\static\css\about_us.css">
	</head>

	<body>

		<div class="topnav">
			<a href="#">Home</a>
			<a href="#">Account</a>
			<a href="#">Chat</a>
		  </div>

		<div class="about-section">
			<div class="header-text">
				<h1>Welcome to The Game Room</h1>
				<p>Connect, Compete, Conquer - Join the Ultimate Word Game Chatroom</p>
			</div>
		</div>
	
		<div class="row-container">
			<div class="row">
				<div class="text-container">
					<h2 style="text-align:center">About Us</h2>
					<p>Welcome to Gameline! We are a community of gamers from all over the world who come together to share our passion for gaming and connect with like-minded individuals.</p>
					<p>Our chatroom was founded with the goal of creating a safe and welcoming space for gamers of all levels and backgrounds. We believe that gaming is not just a hobby, but a way of life that brings people together and fosters friendship and camaraderie.</p>
				</div>
				<div class="image-container">
					<img src="..\static\images\consultation.gif" alt="ChatGif">
				</div>
			</div>
			
			<div class="row">
				<div class="image-container">
					<img src="..\static\images\video-conference.gif" alt="TeamGif"> 
				</div>
				<div class="text-container">
					<p>Our team is made up of dedicated gamers who are passionate about creating a positive and inclusive community. We work hard to ensure that our chatroom is a place where everyone feels welcome and respected, regardless of their race, gender, sexual orientation, or any other personal characteristic.</p>
					<p>In our chatroom, you'll find a variety of topics being discussed, from the latest gaming news and spaces to play games with other players. We encourage members to share their own experiences and insights, and to engage in friendly and respectful debates about various gaming-related topics.</p>
				</div>
				
			</div>

			<div class="row">
				<div class="text-container">
					<p>Thank you for choosing to be a part of our gaming community. We hope that you'll find our chatroom to be a welcoming and enjoyable place to play and talk about all things gaming!</p>
				</div>
				<div class="image-container">
					<img src="..\static\images\thumbs-up.gif" alt="ChatGif">
				</div>
			</div>
		</div>

		<Team>
			<h2 style="text-align:center">Our Team</h2>
			<div class="row">
			<div class="column">
				<div class="card">
					#<img src="/w3images/team1.jpg" alt="John" style="width:100%">#
				<div class="team-container">
					<h2>John Alderson</h2>
					<p class="title">Developer</p>
					<p>Some text that describes me lorem ipsum ipsum lorem.</p>
					<p>jane@example.com</p>
					<p><button class="button">Contact</button></p>
				</div>
				</div>
			</div>

			<div class="column">
			<div class="card">
				#<img src="/w3images/team2.jpg" alt="Owen" style="width:100%">#
				<div class="team-container">
					<h2>Owen Smith</h2>
					<p class="title">Developer</p>
					<p>Some text that describes me lorem ipsum ipsum lorem.</p>
					<p>mike@example.com</p>
					<p><button class="button">Contact</button></p>
				</div>
			</div>
			</div>

			<div class="column">
			<div class="card">
				#<img src="/w3images/team3.jpg" alt="Cheryl" style="width:100%">#
				<div class="team-container">
					<h2>Cheryl Joseph</h2>
					<p class="title">Designer</p>
					<p>Some text that describes me lorem ipsum ipsum lorem.</p>
					<p>john@example.com</p>
					<p><button class="button">Contact</button></p>
				</div>
			</div>
			</div>

			<div class="column">
				<div class="card">
				#<img src="/w3images/team3.jpg" alt="John" style="width:100%">#
				<div class="team-container">
					<h2>John Lumagbas</h2>
					<p class="title">Designer</p>
					<p>Some text that describes me lorem ipsum ipsum lorem.</p>
					<p>john@example.com</p>
					<p><button class="button">Contact</button></p>
				</div>
				</div>
			</div>
			</div>
		</Team>
	</body>
</html>
