{% extends "base.html" %} {% block title %}About Us{% endblock %}

{% block content %} 
<h1>About Us</h1>
{% endblock %}

  </head>
  <body>
    <div class="banner">
		<div>
			<h1>About Us</h1>
		{% block style %}
			<style>
			h1 {
				text-align: center;
				font-size: 60px;
				}
				
			p {
				width: 800px;
				text-align: left;
				padding: 10px;
				margin: auto;
				font-family: 'Montserrat', sans-serif;
				}
				
			.banner {
				padding: 35px;
				background: linear-gradient(45deg, #6495ED, #FAEBD7);
				font-family: 'Montserrat', sans-serif;
				}
			
			h2 {
				text-align: center;
				font-size: 30px;
				font-family: 'Montserrat', sans-serif;
				}
				
			dl {
				width: 800px;
				text-align: left;
				padding: 10px;
				margin: auto;
				font-family: 'Montserrat', sans-serif;
				}
				
				
			</style>
		{% block style %}
	</div>  
</div>
    <main>
      <section>
        <h2></h2>
        <p>Welcome to Gameline! We are a community of gamers from all over the world who come together to share our passion for gaming and connect with like-minded individuals.</p>
		<p>Our chatroom was founded with the goal of creating a safe and welcoming space for gamers of all levels and backgrounds. We believe that gaming is not just a hobby, but a way of life that brings people together and fosters friendship and camaraderie.</p>
		<p>Our team is made up of dedicated gamers who are passionate about creating a positive and inclusive community. We work hard to ensure that our chatroom is a place where everyone feels welcome and respected, regardless of their race, gender, sexual orientation, or any other personal characteristic.</p>
		<p>In our chatrooms, you'll find a variety of topics being discussed, from the latest gaming news and spaces to play games with other players. We encourage members to share their own experiences and insights, and to engage in friendly and respectful debates about various gaming-related topics.</p>
		<p>Thank you for choosing to be a part of our gaming community. We hope that you'll find our chatroom to be a welcoming and enjoyable place to play and talk about all things gaming!</p>
		
      </section>
      <section>
        <h2>Our Team</h2>
        <dl>
          <dt>Cheryl Joseph</dt>
		  <dd>-Technology & Strategy Planning</dd>
		  <dd>- Data Scientist & Science Communicator</dd>
		  <p>
          <dt>John Alderson</dt>
		  <p>
          <dt>John Lumagbas</dt>
		  <p>
		  <dt>Owen Smith</dt>
        </dl>
      </section>
      <section>
        <h2>Our Mission</h2>
        <p>Mission statement here.</p>
      </section>
    </main>
    <footer>
      <p>&copy; 2023 Company Name. All rights reserved.</p>
    </footer>
  </body>
</html>