{% extends "base.html" %} {% block title %}Account{% endblock %}

{% block mycss%}

<link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}"/>

{% endblock mycss%}

{% block content %} 
<form method="POST" enctype="multipart/form-data">
    <h3 class="text-center">Update Account Details</h3>
    <div id="profileSection">
      <p style="margin:0;"><b>User:</b> {{ user.first_name }}</p>
      <img src={{user.image_file}} alt="Profile Picture" id="profilePic" height="100px" width="100px">
      <!-- Need a reference like: ../images/ProfilePictures/{{ user.profile_picture }} as image src -->
      <p><b>Score:</b> {{ user.score }}</p>
    </div>
    <div class="form-group">
      <label for="email">Email Address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        value="{{ user.email }}"
      />
    </div>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        name="firstName"
        value="{{ user.first_name }}"
      />
    </div>
    <div class="form-group">
      <label for="password1">New Password</label>
      <input
        type="password"
        class="form-control"
        id="password1"
        name="password1"
        placeholder="Enter new password"
      />
    </div>
    <div class="form-group">
      <label for="password2">New Password (Confirm)</label>
      <input
        type="password"
        class="form-control"
        id="password2"
        name="password2"
        placeholder="Confirm new password"
      />
    </div>
    <div class="form-group">
      <input type="file" id="pic" name="pic"/>
      
    </div>
    <br />
    <button type="submit" value=Upload class="btn btn-primary">Submit</button>
  </form>
{% endblock %}