{% extends "base.html" %} {% block title %}Account{% endblock %}

{% block mycss%}

<link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}"/>

{% endblock mycss%}

{% block content %} 
<form method="POST">
    <h3 class="text-center">Update Account Details</h3>
    <div id="profileSection">
      <p style="margin:0;"><b>User:</b> {{ user.first_name }}</p>
      <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="Profile Picture" id="profilePic" height="100px" width="100px">
      <!-- Need a reference like: ../images/ProfilePictures/{{ user.profile_picture }} as image src -->
      <p><b>Score:</b> {{ user.score }}</p>
    </div>
    <div class="form-group">
      <label for="email">Email Address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        value="{{ user.email }}"
      />
    </div>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        name="firstName"
        value="{{ user.first_name }}"
      />
    </div>
    <div class="form-group">
      <label for="password1">New Password</label>
      <input
        type="password"
        class="form-control"
        id="password1"
        name="password1"
        placeholder="Enter new password"
      />
    </div>
    <div class="form-group">
      <label for="password2">New Password (Confirm)</label>
      <input
        type="password"
        class="form-control"
        id="password2"
        name="password2"
        placeholder="Confirm new password"
      />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}