<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <script 
        src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"
    ></script>

    
    <!--Below block allows the title to be changed in each extended file-->
    <title>{% block title %}Home{% endblock %}</title>

    <!--Below block allows access to head in each extended file to add css styling-->
    {% block mycss %} {% endblock mycss %} 
    
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
          <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
              <li class="nav-item">
                  <a class="nav-link" id="home" href="/home">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="account" href="/account">Account</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="logout" href="/logout">Logout</a>
              </li>
              {% else %}
              <li class="nav-item">
                  <a class="nav-link" id="intro" href="/">Intro</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="login" href="/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="signUp" href="/sign-up">Sign Up</a>
              </li>
              {% endif %}
          </ul>
      </div>
      <div class="mx-auto order-0">
          <a class="navbar-brand mx-auto" href="#">{Placeholder}</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
              <span class="navbar-toggler-icon"></span>
          </button>
      </div>
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" id="about_us" href="/about_us">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="privacy" href="/privacy">Privacy</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="contact_us" href="/contact_us">Contact Us</a>
              </li>
              {% if user.is_authenticated %}
              {% else %}
              {% endif %}
          </ul>
      </div>
    </nav>

    
    <!-- Below is code for flash messages -->
    {% with flash_messages = get_flashed_messages(with_categories=true) %} {% if
      flash_messages %} {% for category, flash_message in flash_messages %} {% if category ==
      'error' %}
      <div class="alert alert-danger alter-dismissable fade show" role="alert">
        {{ flash_message }}
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% else %}
      <div class="alert alert-success alter-dismissable fade show" role="alert">
        {{ flash_message }}
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %} {% endfor %} {% endif %} {% endwith %}
      <!-- Above is code for flash messages -->

    <div style="height: 100%;">{% block content %} {% endblock %}</div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    {% block bottom_script %} {% endblock bottom_script %}

  </body>
</html>