<div class="container-fluid">
    <div class="column">
        <h1 style="margin:0;">Favourites</h1>
            <table id="favouriteTable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>id</th>
                    </tr>
                </thead>
                <tbody>
                    {% for name in favourite_list %}
                    <tr>
                        <td>{{ name.username }}</td>
                        <td>{{ name.id }}</td>
                        <td><button class="private_message">Message</button></td>
                        <td>
                            <form action="{{ url_for('auth.remove_favourite') }}" method="post">
                                <input type="hidden" id="favourite" name="favourite_id" value="{{ name.id }}"/>
                                <input type="submit" value="- Unfavourite"/>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        <h1 style="margin:0;">Members</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>id</th>
                    </tr>
                </thead>
                <tbody>
                    {% for name in not_favourite_list %}
                    <tr>
                        <td>{{ name.username }}</td>
                        <td>{{ name.id }}</td>
                        <td><button class="private_message">Message</button></td>
                        <td>
                            <form action="{{ url_for('auth.add_favourite') }}" method="post">
                                <input type="hidden" id="favourite" name="favourite_id" value="{{ name.id }}"/>
                                <input type="submit" value="+ Favourite"/>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
</div>