<!DOCTYPE html>
<html lang="en">

<head>
    <title>All users</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/scoreboard.css') }}"/>

    <style>
        .container {
            display: flex;
        }
        .column {
            flex: 50%;
            padding: 10px;
        }
    </style>

</head>


<div class="container-fluid">
    <div class="column">
        <h1 style="margin:0;">Favourites</h1>
            <table id="favouriteTable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>id</th>
                    </tr>
                </thead>
                <tbody>
                    {% for name in friends_list %}
                    <tr>
                        <td>{{ name.first_name }}</td>
                        <td>{{ name.id }}</td>
                        <td><button class="private_message">Message</button></td>
                        <td>
                            <form action="{{ url_for('auth.remove_friend') }}" method="post">
                                <input type="hidden" id="freind" name="friend_id" value="{{ name.id }}"/>
                                <input type="submit" value="- Unfavourite"/>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h2> Other Users</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>id</th>
                        <th>Online?</th>
                    </tr>
                </thead>
                <tbody>
                    {% for name in not_friends_list %}
                    <tr>
                        <td>{{ name.first_name }}</td>
                        <td>{{ name.id }}</td>
                        <td>yes or no</td>
                        <td><button class="private_message">Message</button></td>
                        <td>
                            <form action="{{ url_for('auth.add_friend') }}" method="post">
                                <input type="hidden" id="freind" name="friend_id" value="{{ name.id }}"/>
                                <input type="submit" value="+ Favourite"/>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>

</html>