<!DOCTYPE html>
<html lang="en">

<head>
    <title>All users</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/scoreboard.css') }}"/>

</head>
<h1> Friends List</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>id</th>
            <th>Online?</th>
        </tr>
    </thead>
    <tbody>
        {% for name in friends_list %}
        <tr>
            <td>{{ name.first_name }}</td>
            <td>{{ name.id }}</td>
            <td>yes or no</td>
            <td><button class="private_message">Message</button></td>
            <td>
                <form action="{{ url_for('auth.remove_friend') }}" method="post">
                    <input type="hidden" id="freind" name="friend_id" value="{{ name.id }}"/>
                    <input type="submit" value="Remove Friend"/>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</html>