<!DOCTYPE html>
<html lang="en">

<head>
    <title>All users</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/scoreboard.css') }}"/>

</head>
<h1> Friends List</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Online?</th>
        </tr>
    </thead>
    <tbody>
        {% for name in friends_list %}
        <tr>
            <td>{{ name.first_name }}</td>
            <td>yes or no</td>
            <td><button class="private_message">Message</button></td>
            <td><button class="remove_friend">Remove friend</button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</html>