{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block mycss%}

<link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}"/>

{% endblock mycss%}

{% block content %} 
<h1> My Home Page </h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-3" id="leftDiv">
            <div id="profileTopLeft">
                <p style="margin:0;"><b>User:</b> {{ user.first_name }}</p>
                <img src={{user.image_file}} class="ProfilePicture" alt="Profile Picture" id="profilePic" height="100px" width="100px">
                <p><b>Score:</b> {{ user.score }}</p>
            </div>
            <div>
                <iframe src="{{ url_for('auth.scoreboard')}}" title="Scoreboard" id="scoreboard-iframe"></iframe>
            </div>
            <div>
                <td>
                    <form action="{{ url_for('auth.add') }}" method="post">
                    <input type="hidden" name="add" value="{{ user.id }}"/>
                    <input type="submit" value="Score + 1"/>
                    </form>
                </td>
            </div>
        </div>

        <div class="col-6" id="contentDiv" style="border:1px solid black">
            <h2>Game Rooms</h2>
            <div>
                <div id="gameButtons">
                    <button class="gameLink" type="button">Wordle Lobbies</button>
                    <button class="gameLink" type="button">Hangman Lobbies</button>
                    <button class="gameLink" type="button">Another Game</button>
                </div>
                <div style="text-align:center;margin:50px;">
                    <button id="createGame">Create Private Lobby +</button>
                </div>
            </div>
            <h2>Public Chat Rooms</h2>
            <div id="chatButtons">
                <button class="chatLink" type="button">Global Chat</button>
                <button class="chatLink" type="button">Another Chat</button>
                <button class="chatLink" type="button">Another Chat</button>

            </div>
        </div>
        <div class="col-3" id="chatSection">
            <iframe src="{{ url_for('auth.friends_list')}}" style="height:80%;width:100%" title="Friends List"></iframe>
        </div>
    </div>


</div>

{% endblock %}