{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block mycss%}

<link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}"/>

{% endblock mycss%}

{% block content %} 
<h1> My Home Page </h1>
<p>This is where a user will be able to see the chat rooms they can enter, search their message history, enter their private messages</p>

<div>
    <p>This is the logged in users id: {{ user.id }}</p>
    <p>This is the logged in users email: {{ user.email }}</p>
    <p>This is the logged in users hashed password: {{ user.password }}</p>
    <p>This is the logged in users first name: {{ user.first_name }}</p>
    <p>This is the logged in users score: {{ user.score }}</p>
</div>

<!-- Below is button for adding 1 to users score -->
<div>
    <td>
        <form action="{{ url_for('auth.add') }}" method="post">
          <input type="hidden" name="add" value="{{ user.id }}"/>
          <input type="submit" value="Score + 1"/>
        </form>
    </td>
</div>

<iframe src="{{ url_for('auth.scoreboard')}}" title="Scorboard"></iframe>
<iframe src="{{ url_for('auth.friends_list')}}" title="Friends List"></iframe>
<iframe src="{{ url_for('auth.not_friends_list')}}" title="Not Friends List"></iframe>

<div>
    <button onclick="window.location.href = 'chat_room_1';">Chat Room 1</button>
</div>

<div>
    <button onclick="window.location.href = 'chat_room_2';">Chat Room 2</button>
</div>

<div>
    <button onclick="window.location.href = 'chat_room_3';">Chat Room 3</button>
</div>

<p>List of every user</p>
<p>List of 'freinds'</p>
<p>Search Bar</p>

{% endblock %}