{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block mycss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/scoreboard.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/fav_user_list.css') }}" />
{% endblock mycss %}

{% block content %}
<div class="container">
    <div class="profile-card">Profile Card</div>
    <div class="content-feed">Content Feed</div>
    
    <div class="friends-list">Friends List</div>
    <div class="leaderboard">Leaderboard</div>
</div>
{% endblock %}

{% block bottom_script %}{% endblock bottom_script %}
