{% extends "base.html" %} {% block title %}Intro{% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js" ></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

{% block mycss%}

<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/intro_page.css') }}"/>

{% endblock mycss%}

{% block content %}
<div class="display-flex">
  <div class="container">
    <div class="text-container">
      <h1>#1 Free Gaming Chat Room!</h1>
      <p>Fun loving community for chatting and playing word games with friends.</p>
      <form action="/login">
        <button class="button button1">Start Chatting</button>
      </form>
    </div>

    <div class="game-icons">

      <div class="image-container">
        <div class="parent">
          <img class = "image1" src="..\static\images\WhiteBubble.png" alt="Chat Bubble">
          <img class = "image2" src="..\static\images\speech-bubble.gif" alt="Chat Gif">
        </div>

      </div>

      <div class="image-container">
        <img class = "image1" src="..\static\images\WhiteBubble.png" alt="Chat Bubble">
        <img class = "image2" src="..\static\images\speech-bubble (1).gif" alt="Exlamation Gif">

      </div>

    </div>
  </div>
</div>
  

{% endblock %}