{% extends "base.html" %} {% block title %}Intro{% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js" ></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

{% block mycss%}

<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/intro_page.css') }}"/>
<link rel="icon" href="..\static\images\logofavicon.png">


{% endblock mycss%}

{% block content %}
<div class="intro-container">

  <div class="text-container">
    <h1>#1 Free Gaming Chat Room!</h1>
    <p>Welcome to TGR! Our chatroom offers a platform for users to engage in stimulating word games, solve brain-teasing puzzles, to expand vocabulary in a social and interactive environment.</p>
    <p>Click below to sign in, if you're not a member, join today!</p>
    <form action="/login">
      <button class="button button1">Start Chatting</button>
    </form>
  </div>

  <div class="image-container">
    <img class = "image" src="..\static\images\Logo.png" alt="Logo">
  </div>


</div>
  

{% endblock %}