{% extends "base.html" %} {% block title %}Login{% endblock %}

{% block mycss%}

<link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}"/>

{% endblock mycss%}

{% block content %}

<div class="login-section">
	<div class="header-text">
		<h1>Log In</h1>
	</div>
</div>

<div class="row-container">
    <div class="row">
        <div class="text-container">
            <h2>Welcome Back!</h2>
            <p>If you don't have an account, join today!</p>
        </div>
    </div>
</div>

<div class="container">
  <form action="/action_page.php">

    <label for="email">Email</label>
    <input type="text" id="email" email="email" placeholder="E-mail Address">

    <label for="password">E-Mail</label>
    <input type="text" id="password" name="Password" placeholder="Enter Password">

    <input type="submit" value="Login">
  </form>
</div>


  {% endblock %}