<div class="members">
    <h1 class="headers">Members</h1>
                <table id="notFavouriteTable">
                    <thead>
            
                    </thead>
                    <tbody>
                        {% for name in not_favourite_list %}
                        <tr>
                            <td><img src={{name.profile_picture}} class="listProfilePicture" alt="Profile Picture" id="profilePic" ></td>
                            <td>{{ name.username }}</td>
                            <td>
                                <form method="post">
                                    <input type="hidden" name="chatter_id" value="{{name.id}}">
                                    <button type="submit" name="private_message" class="message-icon">&#x1F4E9;</button>
                                </form>
                            </td>
                            <td>
                                <form action="{{ url_for('auth.add_favourite') }}" method="post">
                                    <input type="hidden" id="favourite" name="favourite_id" value="{{ name.id }}"/>
                                    <button class="star" type="submit" name="favourite">
                                        <!-- Display star icon here -->
                                        &#9734;
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
</div>

