{% extends 'base.html' %} {% block title %} {{ room.description}}  {% endblock %}

{% block mycss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/private_room.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/private_room_darkmode.css') }}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" href="..\static\images\logofavicon.png">
{% endblock mycss %} 

{% block content %}
<div class="content">

    <div class="message-box">
      <div class="container-fluid" id="title-and-searchBar">
        <div class="row">
          <div class="col-12 col-md-9" id="title"><h2>{{other_user.username}}</h2> </div>
          <div class="col" id="search">
            <form id="searchBarContainer">
              <input id="searchBar" type="text" name="query" placeholder="&#128269;Search..." autocomplete="off">
              <input type="hidden" name="room_id" value="{{room.id}}">
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
            <div class="result-box" id="search-results">
              
            </div>
        </div>
      </div>
        
        <div class="container-fluid" id="inner-content">
          <div class="row">
            <div class="col">
              <div id="chat-feed-and-input">
                  <div class="messages" id="messages"></div>
                  <div class="input" id="type-and-send">
                      <input type="text" rows="3" placeholder="Message" name="message" id="message">
                      <div class="dropdown">
                        <button class="dropdown-toggle" type="button" id="toggle-dropdown-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-wrench"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="toggle-dropdown-btn">
                          <button class="dropdown-item" id="dark-mode-toggle-btn"><i class="fa fa-moon-o"> Toggle Dark Mode</i></button>
                        </div>
                      </div>
                      <button name="send" id="send-btn" onclick="sendMessage()"> <i class="fa fa-arrow-right"></i> </button>
                  </div>
              </div>
            </div>
          </div>
        </div>
        
    </div>
</div>

<script>
  
  var socketio = io();
  const messages = document.getElementById("messages");

  document.addEventListener('DOMContentLoaded', (event) => {

    const darkModeToggleBtn = document.querySelector('#dark-mode-toggle-btn');
    const body = document.body;
    const messages = document.getElementById('messages');


    darkModeToggleBtn.addEventListener('click', () => {
      body.classList.toggle('dark-mode');
      messages.classList.toggle('dark-mode');
    });
  });


  var myUsername = "{{ user.username }}"
  const createMessage = (username, msg, profile_picture, date) => {
    const messageType = (username === myUsername) ? "my-message" : "other-message";
    const content = `
        <div class="${messageType}">
            <img src="${profile_picture}" alt="Profile Picture" width="50" height="50" style="border-radius: 50%;">
            <div class="message-content">
                <span class="date" style="font-size: 0.8em; display: block;">${date}</span>
                <span><strong>${username}</strong>: ${msg}</span>
            </div>
        </div>
    `;
    messages.innerHTML += content;    
    //This scroll means it's a lot smoother and not so jumpy.
    messages.scrollTo({
      top: messages.scrollHeight,
      behavior: 'smooth'
    });
};
  socketio.on("message", (data) =>{
    if(!data.message.includes("has joined the room") && !data.message.includes("has left the room")) // We ignore the joining message for private rooms.
      createMessage(data.username, data.message, data.profile_picture, data.date);
    });

  const sendMessage = () => {
      const message = document.getElementById("message")
      if (message.value == "") return;
      socketio.emit("new-message", {data: message.value}) //This is an event called new-message, altering the name allows more complicated things.
      message.value = ""; 
  };
</script>

<!-- Loads all of the previous messages on loading into the room -->
{% for msg, username, profile_picture in messages %}
    <script>
        createMessage("{{ username }}", "{{ msg.data }}", "{{ profile_picture }}", "{{ msg.date}}");
    </script>

{% endfor %}

{% endblock %}

{% block bottom_script %} 
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

$(document).ready(function() {
    var searchBar = $('#searchBar');
    var resultsBox = $('#search-results');
    var messages = $('#messages');
    
    function updateBackgroundColor() {
        if ($('body').hasClass('dark-mode')) {
            messages.css("background-color", "rgba(43, 43, 43)");
        } else {
            messages.css("background-color", "whitesmoke");
        }
    }
    searchBar.on('keyup', function(event) {
      var query = $('input[name="query"]').val();
      var room_id = $('input[name="room_id"]').val();
      $.ajax({
        url: "{{ url_for('auth.search_messages') }}",
        data: {query: query, room_id: room_id},
        success: function(data) {
          resultsBox.html("Type ./from to search by username<br>" + data);
        }
      });

    });

  //Highlight and Search word in search bar
    searchBar.on('click', function() {
      searchBar.trigger('keyup');
      this.select();
    });
      //Search results dissapear when clicking elsewhere
    $(document).on('click', function(event) {
      if (!searchBar.is(event.target) && searchBar.has(event.target).length === 0 &&
          !resultsBox.is(event.target) && resultsBox.has(event.target).length === 0) {
        resultsBox.html('');
      }
    });
  });

  //Adds the ability to just click enter and not have to press "Send" button for messages
  var input = document.getElementById("message");
    input.addEventListener("keypress", function(event) {
      if (event.key === "Enter") {
        event.preventDefault();
        document.getElementById("send-btn").click();
      }
    });

</script>
{% endblock bottom_script %}