{% extends 'base.html' %} {% block title %} {{ room.description}}  {% endblock %}

{% block mycss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/room.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/room_darkmode.css') }}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" href="..\static\images\logofavicon.png">
{% endblock mycss %} 

{% block content %}

<div class="content">

  <div class="message-box">
    <div class="container-fluid" id="title-and-searchBar">
      <div class="row">
        <div class="col-12 col-md-9" id="title"> <h2>Chat Room: {{room.room_name}}</h2> </div>
        <div class="col" id="search">
          <form id="searchBarContainer">
            <input id="searchBar" type="text" name="query" placeholder="&#128269; Search..." autocomplete="off">
            <input type="hidden" name="room_id" value="{{room.id}}">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
          <div class="result-box" id="search-results">   </div>
        </div>
      </div>

        
        <div class="container-fluid" id="inner-content">
          <div class="row">
            <div class="members-list col-4 hidden-mobile" class="col-4">
              <div  id="membersList">
                <h5 title="Users currently in the chat">Active Members</h5>
                <hr class="greyHR">
                <!-- ActiveMembers of a chat room are inserted into this div-->
              </div>
              <div id="commandsDiv">
                <hr class="bottomHR">
                <h6>Commands</h6>
                <p class="commands">./scramble [Category]</p>
                <!-- <p style="text-align:center;">Categories: fruit, videogames, css</p> -->
                <hr class="command-split">
                <p class="commands">./hangman</p>
                <hr class="command-split">
                <p class="commands">./stop</p>
                <!-- <ul>
                  <li>fruit</li>
                  <li>videogames</li>
                  <li>css</li>
                </ul> -->
              </div>
            </div>
            


        <div class="col">
          <div id="chat-feed-and-input">
            <div id="clock-and-game-answer">
              <div id="clock">Time left = <span id="timer"></span></div>
              <div id="game-answer"></div>
            </div>
            <div class="messages" id="messages"></div>
            <div class="input" id="type-and-send">
              <input type="text" rows="3" placeholder="&#128233; Message" name="message" id="message">
              <div class="dropdown">
                <button class="dropdown-toggle" type="button" id="toggle-dropdown-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-wrench"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="toggle-dropdown-btn">
                  <button class="dropdown-item" id="toggle-members-btn"><i class="fa fa-user"> Show Users</i></button>
                  <button class="dropdown-item" id="dark-mode-toggle-btn"><i class="fa fa-moon-o"> Toggle Darkmode</i></button>
                </div>
              </div>
              <button name="send" id="send-btn" onclick="sendMessage()"> <i class="fa fa-arrow-right"></i> </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // Event listener for settings
  document.addEventListener('DOMContentLoaded', (event) => {
    const toggleMembersButton = document.querySelector('#toggle-members-btn');
    const darkModeToggleBtn = document.querySelector('#dark-mode-toggle-btn');
    const membersList = document.querySelector('.members-list');
    const body = document.body;
    const messages = document.getElementById('messages');

    const mq = window.matchMedia("(max-width: 767px)");

    toggleMembersButton.addEventListener('click', () => {
      let isMobile = mq.matches; // Check the viewport size at the moment of click
      if (isMobile) {
        membersList.classList.toggle('hidden-mobile');
        if (!membersList.classList.contains('hidden-mobile')) {
          membersList.style.display = 'block';
        }
      } else {
        membersList.classList.toggle('hidden');
        if (membersList.classList.contains('hidden')) {
          membersList.style.display = 'none';
        } else {
          membersList.style.display = 'block';
        }
      }
    });

    darkModeToggleBtn.addEventListener('click', () => {
      body.classList.toggle('dark-mode');
      messages.classList.toggle('dark-mode');
    });
});
</script>
<script>
  


  var socketio = io();

  const messages = document.getElementById("messages");
  const members_list = document.getElementById("membersList");


  //This is used to add a Member to Active Members list in a chat room.
  const addMember = (username, profile_picture) => {
    const content = `
      <div>
        <span class="one-user" id="${username}">
          <img src="${profile_picture}" alt="Profile Picture" width="50" height="50" style="border-radius: 50%;"> <strong>${username}</strong>
        </span>
      </div>
    `;
    members_list.innerHTML += content;
  }

  //This is mainly used to remove someone fom the Active Members list, in which case the 'itemID' is their username which
  // is used for the id of their span when adding them to the Active Members list initially.
  function removeItem( itemID ){
    let element = document.getElementById(itemID);
    element.parentNode.removeChild(element);
  }

  var myUsername = "{{ user.username }}"
  const createMessage = (username, msg, profile_picture, date) => {
    const messageType = (username === myUsername) ? "my-message" : "other-message";
    const content = `
        <div class="${messageType}">
            <img src="${profile_picture}" alt="Profile Picture" width="50" height="50" style="border-radius: 50%;">
            <div class="message-content">
                <span class="date" style="font-size: 0.8em; display: block;">${date}</span>
                <span><strong>${username}</strong>: ${msg}</span>
            </div>
        </div>
    `;
    messages.innerHTML += content;


    // Scroll to bottom after posting message
    //messages.scrollTop = messages.scrollHeight;
    
    //This scroll means it's a lot smoother and not so jumpy.
    messages.scrollTo({
      top: messages.scrollHeight,
      behavior: 'smooth'
    },);

};

  
  general_rooms = ["GLOB", "LFGG", "SUPP"] //These are the hard coded public chat rooms that never change.
  socketio.on("message", (data) =>{
        title = document.getElementById("title").innerHTML
        index = title.indexOf(": ");
        roomName = title.slice(index+2,index+6);
        if(!(general_rooms.includes(roomName))){
          showCommands();
        }else { console.log(roomName)}
        if(!(typeof data.all_member_usernames === "undefined"))
        {
            //This has to be a new connection to the room. (only message parsed without a date)
            addMember(data.username, data.profile_picture);
            for(i=0; i < data.all_member_usernames.length; i++){
              let myEle = document.getElementById(data.all_member_usernames[i]);
              if(!myEle) { //If they're not in the list add them.
                addMember(data.all_member_usernames[i], data.all_member_profiles[i]);
                console.log(data.all_member_usernames[i]);
              }
            }

        }
        createMessage(data.username, data.message, data.profile_picture, data.date);

        if (data.message.includes("Unscramble this word:") && data.username == "CP"){
          hideCommands(); //Only need to hide the commands in the first round of scramble not every round when it's already hidden.
          i = data.message.lastIndexOf(': ');
          showCurrentWord(data.message.slice(i+2)); //This grabs the current word from the HTML through JS.
          callTimer(0, 11); 

        }else if (data.message.includes("CORRECT") && data.username == "CP"){
            stopTimer();
        }else if(data.message.includes("Game Over!") ){
            showCommands();
        }else if (data.message.includes("Hangman Started") && data.username == "CP"){
            callTimer(1,1);
            hideCommands();
            
        }else if(data.message.includes("_") && data.username == "CP"){
          document.getElementById("game-answer").innerHTML = `<span id="hangmanWord">Current Word: ${data.message}</span>`;
        
        }else if(data.message.includes("Out of lives!") && data.username == "CP"){
            stopTimer();
            showCommands();
        }else if(data.message.includes("Stopped") && data.username == "CP"){
            stopTimer();
            showCommands();
        }


        //This is if we want to allow joining in progress.
        if(data.gameMode == "ON"){
          //The timer is not stored in the database so showTimer has nothing to show.
          // showTimer();

        }
        
        if(!(typeof data.disconnecting === "undefined"))
        {
          removeItem(data.username);
        }

      });

  const sendMessage = () => {
      const message = document.getElementById("message")
      if (message.value == "") return;
      socketio.emit("new-message", {data: message.value}) //This is an event called new-message, altering the name allows more complicated things.
      message.value = ""; 
  };
</script>


<!-- Loads all of the previous messages on loading into the room -->
{% for msg, username, profile_picture in messages %}
    <script>
        createMessage("{{ username }}", "{{ msg.data }}", "{{ profile_picture }}", "{{ msg.date}}");
    </script>
{% endfor %}


<!-- Adds the ability to just click enter and not have to press "Send" button for messages -->
<script>
    var input = document.getElementById("message");
    input.addEventListener("keypress", function(event) {
      if (event.key === "Enter") {
        event.preventDefault();
        document.getElementById("send-btn").click();
      }
    });
</script>

{% endblock %}

{% block bottom_script %} 
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    var searchBar = $('#searchBar');
    var resultsBox = $('#search-results');
    var messages = $('#messages');
    
    function updateBackgroundColor() {
        if ($('body').hasClass('dark-mode')) {
            messages.css("background-color", "rgba(43, 43, 43)");
        } else {
            messages.css("background-color", "whitesmoke"); // Reset to default color or specify your light color
        }
    }
    searchBar.on('keyup', function(event) {
      var query = $('input[name="query"]').val();
      var room_id = $('input[name="room_id"]').val();
      $.ajax({
        url: "{{ url_for('auth.search_messages') }}",
        data: {query: query, room_id: room_id},
        success: function(data) {
          resultsBox.html("Type ./from to search by username<br>" + data);
        }
      });
    });

  //Highlight and Search word in search bar
    searchBar.on('click', function() {
      searchBar.trigger('keyup');
      this.select();
    });
      //Search results dissapear when clicking elsewhere
    $(document).on('click', function(event) {
      if (!searchBar.is(event.target) && searchBar.has(event.target).length === 0 &&
          !resultsBox.is(event.target) && resultsBox.has(event.target).length === 0) {
        resultsBox.html('');
      }
    });
  });

/* Does the setup fro starting the timer and then calls startTimer() to start it.

  Because of the delay to show to screen the timer input must be 1 seond above desired time, so 10 second 
  countdown requires input argument of 11 seconds.
*/ 
function callTimer(min, seconds){
    document.getElementById('timer').innerHTML = min + ":" + seconds;
    document.getElementById("clock-and-game-answer").style.visibility = "visible";
    document.getElementById("timer").style.visibility = "visible"; 
    document.getElementById("clock-and-game-answer").style.height = "6vh";
    document.getElementById("messages").style.height = "64vh";
    startTimer();
}

function startTimer() {
    var presentTime = document.getElementById('timer').innerHTML;
    var timeArray = presentTime.split(/[:]+/);
    var m = timeArray[0];
    var s = checkSecond((timeArray[1] - 1));
    if(s==59){m=m-1}
        if(m<0){
            //Hides the elements when the timer runs out.
            document.getElementById("clock-and-game-answer").style.visibility = "hidden";
            document.getElementById("timer").style.visibility = "hidden";
            document.getElementById("clock-and-game-answer").style.height = 0;
            document.getElementById("messages").style.height = "70vh";
            socketio.emit("timer-done");
            return
        }
    document.getElementById('timer').innerHTML = m + ":" + s;
    timerTimeout = setTimeout(startTimer, 1000);
    
    }

    function stopTimer() {
        document.getElementById("clock-and-game-answer").style.visibility = "hidden";
        document.getElementById("timer").style.visibility = "hidden";
        document.getElementById("clock-and-game-answer").style.height = 0;
        document.getElementById("messages").style.height = "70vh"
        clearTimeout(timerTimeout);
      }

    //Called when a user joins and the game has already begun.
    function showTimer() {
      document.getElementById("clock-and-game-answer").style.visibility = "visible";
      document.getElementById("timer").style.visibility = "visible";
      var currentTime = document.getElementById("timer").innerHTML;
      document.getElementById("current-time").innerHTML = "Time: " + currentTime;
    }

    function checkSecond(sec) {
    if (sec < 10 && sec >= 0) {sec = "0" + sec}; // add zero in front of numbers < 10
    if (sec < 0) {sec = "59"};
    return sec;
    }


    //These are used if we want to insert a new div, but I might revert to just adding the word under the timer.
    function showCurrentWord(word){
      const currentWord = `<span id="scrambleWord">Current Word: ${word}</span>`
      document.getElementById("game-answer").innerHTML = currentWord;
    }

    function hideCommands(){
      document.getElementById("commandsDiv").style.visibility = "hidden";
    }


    function showCommands(){
      document.getElementById("commandsDiv").style.visibility = "visible";
    }

</script>

{% endblock bottom_script %}

<!-- <script src="{{ url_for('static', filename='js/chat.js') }}"></script> -->