<!DOCTYPE html>
<html lang="en">

<head>
    <title>Scoreboard</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/scoreboard.css') }}"/>

</head>
<body>
    <div>
        <table class="scoreboard">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                {% for score in scores %}
                <tr>
                    <td>{{ score.first_name }}</td>
                    <td>{{ score.score }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</body>
</html>