{% extends "base.html" %} {% block title %}Sign Up{% endblock %} 

{% block mycss%}

<link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/sign_up.css') }}"/>
<link rel="icon" href="..\static\images\logofavicon.png">

{% endblock mycss%}

{% block content %}

<div class="SignUp-section">
	<div class="header-text">
		<h1>Sign Up</h1>
	</div>
</div>

<div class="row-container">
    <div class="row">
        <div class="text-container">
            <h2>Welcome to TGR</h2>
            <p>Join today to start chatting!</p>
        </div>
        <div class="image-container">
          <img src="../static/images/bubble-chat.gif" alt="chat">
        </div>
    </div>
</div>

<div class="container">
  <form method="POST" enctype="multipart/form-data">
    <h3 class="text-center">Sign Up</h3>
    <div class="form-group">
      <label for="email">Email Address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter email"
      />
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        placeholder="Enter username"
      />
  </div>

    <div class="form-group">
      <label for="password1">Password</label>
      <input
        type="password"
        class="form-control"
        id="password1"
        name="password1"
        placeholder="Enter password"
      />
    </div>
    <div class="form-group">
      <label for="password2">Password (Confirm)</label>
      <input
        type="password"
        class="form-control"
        id="password2"
        name="password2"
        placeholder="Confirm password"
      />
    </div>
    <div class="form-group">
      <input type="file" id="profile_picture" name="profile_picture"/>
    </div>
    <br />
    <button type="submit" value=Upload class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}