body {
    font-family: 'Courier New', monospace;
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 100%;
    max-width: 500px;
    background-color: black;
    color: white;
    border: 1px solid white;
    margin-bottom: 10px;
    padding: 5px;
}

#messages {
    max-width: 500px;
    overflow-y: auto;
    max-height: 400px;
}

button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
    color: black;
}

#player-info {
    position: fixed;
    left: 0;
    top: 0;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.8);
  }